pre {
 padding:10px 15px;
 border:1px solid rgba(0,0,0,0.15);
 box-shadow:0 1px 0 0 rgba(0,0,0,0.15);
 border-radius:3px;
 overflow-x:auto;
 margin:20px 0
}
pre code {
 border-color:transparent;
 color:inherit;
 background-color:transparent
}
.hljs,
.hljs-subst {
  color:black
}
.hljs-keyword {
 font-weight:bold
}
.hljs-built_in {
 color:black
}
.hljs-type {
 color:#458;
 font-weight:bold
}
.hljs-literal {
 color:#0086b3
}
.hljs-number {
 color:#099
}
.hljs-regexp {
 color:#009926
}
.hljs-string {
 color:#d14
}
.hljs-symbol {
 color:#009926
}
.hljs-class .hljs-title {
 color:#458;
 font-weight:bold
}
.hljs-title {
 color:#900;
 font-weight:bold
}
.hljs-params {
 color:black
}
.hljs-comment {
 color:#998;
 font-style:italic
}
.hljs-prompt {
 font-weight:bold
}
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-preprocessor .hljs-string {
 color:#999;
 font-weight:bold
}
.language-text .hljs-attribute,
.language-text .hljs-keyword,
.language-text .hljs-number,
.language-text .hljs-title {
  color:black;
  font-weight:normal
}
