.hljs,
.hljs-subst {
  color:black
}
.hljs-keyword {
 font-weight:bold
}
.hljs-built_in {
 color:black
}
.hljs-type {
 color:#458;
 font-weight:bold
}
.hljs-literal {
 color:#0086b3
}
.hljs-number {
 color:#099
}
.hljs-regexp {
 color:#009926
}
.hljs-string {
 color:#d14
}
.hljs-symbol {
 color:#009926
}
.hljs-class .hljs-title {
 color:#458;
 font-weight:bold
}
.hljs-title {
 color:#900;
 font-weight:bold
}
.hljs-params {
 color:black
}
.hljs-comment {
 color:#998;
 font-style:italic
}
.hljs-prompt {
 font-weight:bold
}
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-preprocessor .hljs-string {
 color:#999;
 font-weight:bold
}
code:not([class]) span, code.language-text span, code.language-txt span {
  color:black !important;
  font-weight:normal !important;
  font-style:normal !important
}
